@charset "UTF-8";

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Black";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Medium";
  font-display: swap;
  src: url("../fonts/WorkSans-Medium.woff") format("woff"), url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Light";
  font-display: swap;
  src: url("../fonts/WorkSans-Light.woff") format("woff"), url("../fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1366px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  margin: 0px 0px;
  align-self: center;
}

header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: #EDECF7;
  overflow: hidden;
}

.betw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1366px;
}

.betw .hs {
  display: flex;
  align-items: center;
  min-height: 100px;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3px solid #6E6D87;
  border-radius: 100%;
  box-sizing: border-box;
  margin-right: 70px;
  min-width: 67px;
  min-height: 67px;
}

.icon::before {
  content: "";
  background-image: url("/img/D.png");
  background-repeat: no-repeat;
  width: 34px;
  height: 39px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button {
  height: 70px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-family: "Montserrat-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 25.36px;
  color: #515076;
  opacity: 50%;
  white-space: nowrap;
}

.button:hover {
  background-color: rgba(81, 80, 118, 0.1);
  opacity: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.shop {
  background-color: #FFF;
  background-image: url("/img/Group_76.png");
  background-repeat: no-repeat;
  background-position: 19px 15px;
  min-width: 60px;
  min-height: 60px;
  padding: 17px 20px;
  border-radius: 100%;
  box-sizing: border-box;
  margin-right: 26px;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  height: 100px;
}

.ct {
  color: #515076;
  font-style: normal;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  cursor: pointer;
  min-width: 84px;
  height: 18px;
}

.ct:nth-child(1) {
  margin-bottom: 15px;
}

.zag {
  font-family: "Montserrat-ExtraLight";
  font-size: 70px;
  line-height: 76px;
  color: #757AA5;
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.diamaint {
  width: 1366px;
  position: relative;
  margin-bottom: 490px;
}

.cttext {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.left div:first-child {
  margin-top: 34px;
  font-family: "Montserrat-Regular";
  font-size: 36px;
  color: #757AA5;
  line-height: 132%;
  min-width: 387px;
  min-height: 192px;
}

.left div:last-child {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  text-align: left;
  color: #888794;
  line-height: 30.6px;
  line-height: 170.4%;
  min-width: 386px;
  min-height: 298px;
}

.eucalyptus {
  position: absolute;
  background-image: url("/img/equaliptus.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 976px;
  height: 648px;
  transform: scaleX(-1);
  opacity: 15%;
  left: -425px;
  top: 600px;
  z-index: -1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.center .des:first-child {
  min-width: 391px;
  min-height: 114px;
  margin-bottom: 15px;
}

.center .des:nth-child(2) {
  min-width: 391px;
  min-height: 176px;
  margin-bottom: 1px;
}

.center .des:nth-child(3) {
  min-width: 391px;
  min-height: 186px;
  margin-bottom: 54px;
}

.center .des:last-child {
  min-width: 391px;
  min-height: 163px;
  margin-bottom: 300px;
}

.center div:not(.selprodtxt) {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  text-align: left;
  color: #888794;
  line-height: 30.6px;
}

.selprod {
  display: flex;
  align-self: center;
  background: #515076;
  border-radius: 100px;
  width: 270px;
  margin-bottom: 96px;
  justify-content: center;
  cursor: pointer;
}

.selprodtxt {
  font-family: "Montserrat-SemiBold";
  font-size: 13px;
  letter-spacing: 0.32em;
  line-height: 15px;
  color: #FFFFFF;
  margin: 27px 9px;
  opacity: 90%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 30%;
  margin-top: 300px;
}

.right div:first-child {
  font-family: "WorkSans-Medium";
  font-size: 16px;
  letter-spacing: 0.3em;
  line-height: 28.8px;
  color: #888794;
  text-align: right;
  min-width: 172px;
  min-height: 127px;
}

.right div:first-child::first-line {
  font-family: "WorkSans-Light";
  font-size: 36px;
}

.right div:last-child {
  font-family: "Montserrat-Light";
  font-size: 36px;
  line-height: 39px;
  color: #757AA5;
  margin-top: 95px;
  min-width: 350px;
  min-height: 119px;
}

.dandelion {
  position: absolute;
  min-height: 1200px;
  width: 1000px;
  z-index: -1;
  top: -105px;
  left: 710px;
  background-image: url("/img/Dandelion SeedG02 1.png");
  background-repeat: no-repeat;
  background-position-x: -500px;
}

.chern {
  position: absolute;
  transform: scaleX(-1);
  height: 788px;
  width: 900px;
  z-index: -2;
  left: 700px;
  top: 1300px;
  background-image: url("/img/e7fa0b6c3bcb95999e107784bcfa7906.png");
  background-repeat: no-repeat;
  background-position: -200px -300px;
}

.chern div:first-child {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: 550px;
  filter: blur(100px);
  z-index: 1;
  left: 10%;
  top: -55%;
}

.chern div:last-child {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  height: 600px;
  filter: blur(100px);
  z-index: 1;
  left: -5%;
  top: 50%;
}

.name {
  font-family: "PlayfairDisplay-Regular";
  font-size: 230px;
  line-height: 212px;
  text-align: left;
  color: #515076;
  margin: 60px 0px;
  margin-top: 128px;
  min-width: 953px;
  min-height: 213px;
}

.choose {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: auto;
}

.choose .zag {
  margin-bottom: 80px;
  text-align: center;
}

.list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  background-color: #F7F7FA;
}

.product:nth-child(1) .imgbot {
  background-image: url("/img/jar3.png");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: -105px -100px;
}

.product:nth-child(1) .price {
  min-width: 254px;
  min-height: 56px;
  margin-bottom: 18px;
}

.product:nth-child(2) {
  width: 380px;
  margin: 0px 30px 0px;
}

.product:nth-child(2) .imgbot {
  background-image: url("/img/jar1.png");
  background-repeat: no-repeat;
  background-size: 220%;
  background-position: -100px -170px;
  width: 340px;
  height: 325px;
  margin: 69px 20px 0px;
}

.product:nth-child(2) .price {
  min-width: 293px;
  min-height: 64px;
  margin-bottom: 13px;
}

.product:nth-child(2) .price div {
  font-size: 24px;
  line-height: 32px;
}

.product:nth-child(3) .imgbot {
  background-image: url("/img/jar4.png");
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: -170px -90px;
}

.product:nth-child(3) .price {
  min-width: 254px;
  min-height: 56px;
  margin-bottom: 18px;
}

del {
  font-size: 18px;
  color: #888794;
  line-height: 24px;
}

.imgbot {
  position: relative;
  width: 289px;
  height: 244px;
  margin: 62px 20px 0px;
}

.transcription {
  margin: 0px 38px;
}

.normal {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  color: #A5A3B9;
  margin-bottom: 4px;
  min-width: 254px;
  min-height: 28px;
}

.afternorm {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  margin-bottom: 35px;
  min-width: 203px;
  min-height: 56px;
  color: #515076;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Montserrat-Medium";
  color: #515076;
  font-size: 20px;
  line-height: 27px;
}

.basket {
  background-image: url("/img/add-to-cart 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.dsc {
  position: absolute;
  width: 66px;
  height: 66px;
  background-image: url("/img/скидка.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  left: 20px;
}

.fon {
  position: absolute;
  z-index: -1;
  width: 847px;
  height: 669px;
  top: -260px;
  left: -390px;
  background-image: url("/img/Mask Group.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.stoks {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  height: auto;
  margin-top: 180px;
  margin-bottom: 270px;
}

.ls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 333px;
  height: auto;
}

.ls div {
  text-align: start;
}

.text {
  font-family: "Montserrat-Medium";
  font-size: 18px;
  color: #888794;
  line-height: 36px;
  margin-top: 100px;
  min-height: 198px;
  min-width: 333px;
}

.rs {
  display: flex;
  justify-content: space-between;
  max-width: 810px;
  width: 810px;
  height: auto;
  background-color: #F7F7FA;
  box-shadow: -40px 40px 0px 0px #515076;
}

.number {
  display: flex;
  background-color: #EDECF6;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 19px;
  color: #515076;
}

.page {
  margin: 58px 0px 72px 62px;
  width: 433px;
  height: auto;
}

.page div:nth-child(2) {
  font-family: "Montserrat-Light";
  font-size: 30px;
  color: #4C5072;
  line-height: 39px;
  margin-top: 28px;
  min-width: 337px;
  min-height: 156px;
}

.page div:nth-child(3) {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  color: #888794;
  line-height: 32px;
  margin-top: 34px;
  min-width: 433px;
  min-height: 111px;
}

.page div:last-child {
  position: absolute;
  font-family: "Montserrat-Medium";
  font-size: 13px;
  transform: rotate(-90deg);
  letter-spacing: 0.17em;
  line-height: 26px;
  text-align: right;
  left: -45%;
  top: 85%;
  color: #FFFFFF;
}

.presprod {
  position: relative;
  width: 285px;
  height: auto;
  overflow: hidden;
  background-image: url("/img/jar1.png");
  background-repeat: no-repeat;
  background-size: 340%;
  background-position: -230px -160px;
}

.presprod div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #F7F7FA;
  filter: blur(7px);
  left: 90%;
  top: 70%;
}

.page {
  position: relative;
}

.sidetext {
  position: absolute;
  font-family: "Montserrat-Medium";
  font-size: 13px;
  transform: rotate(-90deg);
  left: -33%;
  top: 90%;
  color: #FFFFFF;
  min-width: 234px;
  min-height: 26px;
}

.arrow {
  width: 73px;
  height: 73px;
  background-image: url("/img/стрелка.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.arrow:first-child {
  transform: scaleX(-1);
  opacity: 40%;
  margin-right: 19px;
}

.libut {
  display: flex;
  margin-top: 49px;
}

.discount {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 1120px;
  height: auto;
  margin-bottom: 352px;
}

.discount .branch {
  width: 876px;
  height: 1278px;
  background-image: url("/img/ветка.png");
  background-repeat: no-repeat;
  background-size: 120%;
  position: absolute;
  top: -74%;
  left: -35%;
  z-index: -1;
}

.mapsell {
  background-color: #F7F7FA;
}

.mapsell .trcript {
  margin: 10px 40px 35px;
}

.mapsell .trcript .trcript__text {
  margin-bottom: 11px;
  min-height: 100px;
  font-family: "Montserrat-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #515076;
}

.mapsell:nth-child(1) .procent {
  height: 100px;
  margin-bottom: 7px;
  background-color: rgba(81, 80, 118, 0.1);
}

.mapsell:nth-child(1) .procent div {
  font-family: "Montserrat-Regular";
}

.mapsell:nth-child(1) .mapsell__img {
  background-image: url("/img/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mapsell:nth-child(2) {
  margin: 0px 35px;
}

.mapsell:nth-child(2) .procent {
  height: 150px;
  margin-bottom: 57px;
  background-color: rgba(81, 80, 118, 0.15);
}

.mapsell:nth-child(2) .procent div {
  font-family: "Montserrat-Medium";
}

.mapsell:nth-child(2) .mapsell__img {
  background-image: url("/img/2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mapsell:nth-child(3) .procent {
  height: 200px;
  margin-bottom: 107px;
  background-color: rgba(81, 80, 118, 0.2);
}

.mapsell:nth-child(3) .procent div {
  font-family: "Montserrat-SemiBold";
}

.mapsell:nth-child(3) .mapsell__img {
  background-image: url("/img/3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.procent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.procent div {
  font-size: 36px;
  color: #515076;
}

.mapsell__img {
  width: 350px;
  height: 305px;
}

.present {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
  position: relative;
  width: 100%;
  height: 1023px;
  background-color: #EDECF6;
  z-index: 0;
}

.grayoduv {
  position: absolute;
  background-image: url("/img/GrayOduv.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 638px;
  height: 1196px;
  left: 1040px;
  top: 80px;
  z-index: -1;
}

.womansix {
  width: 1366px;
  height: auto;
  position: relative;
}

.grayname {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair-Display";
  font-size: 330px;
  color: #D6D4E7;
  min-height: 328px;
  margin-bottom: 88px;
  margin-top: -221px;
}

.woman {
  position: absolute;
  width: 1066px;
  height: 821px;
  background-image: url("/img/woman.png");
  background-repeat: no-repeat;
  background-size: 110%;
  left: -120px;
  top: -100px;
  z-index: -1;
}

.inf {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.about {
  width: 462px;
  height: auto;
}

.about div:nth-child(1) {
  min-height: 74px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.3em;
  color: #A5A3B9;
}

.about div:nth-child(2) {
  min-height: 208px;
  margin-bottom: 61px;
  font-family: "Montserrat-ExtraLight";
  font-size: 70px;
  line-height: 76px;
  color: #515076;
}

.about div:nth-child(2)::first-line {
  font-family: "Montserrat-Light";
  font-size: 120px;
  line-height: 131px;
}

.about div:nth-child(3) {
  min-width: 462px;
  min-height: 223px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 32px;
  color: #888794;
}

.know {
  width: 960px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 144px;
}

.know .zag {
  margin-bottom: 86px;
  text-align: center;
  min-height: 77px;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice {
  box-shadow: 0px -6px 0px 0px #515076;
  background-color: #F7F7FA;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advice__text {
  margin-top: 36px;
  margin-left: 48px;
}

.advice__text div:nth-child(1) {
  min-height: 28px;
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  color: #A5A3B9;
  margin-bottom: 4px;
}

.advice__text div:nth-child(2) {
  min-height: 56px;
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin-bottom: 29px;
}

.advice__text div:nth-child(3) {
  min-height: 101px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 25px;
  color: #888794;
}

.centralcards {
  width: 300px;
  height: auto;
}

.centralcards:nth-child(1) {
  margin-right: 30px;
}

.centralcards:nth-child(2) .advice:first-child {
  margin-bottom: 30px;
}

.centralcards:nth-child(3) {
  position: relative;
  top: -100px;
  margin-left: 30px;
}

.read {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.23em;
  color: #515076;
  margin-bottom: 35px;
  margin-left: 48px;
  cursor: pointer;
}

.autors {
  display: flex;
  width: 1366px;
  margin-bottom: 22px;
}

.lavt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
  margin-right: 121px;
}

.lavt .zag {
  min-height: 154px;
  margin-bottom: 55px;
}

.lavt .avtor {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  line-height: 40px;
  min-height: 40px;
  margin-bottom: 14px;
  color: #515076;
}

.lavt .ideolog {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 28px;
  color: #888794;
  min-height: 87px;
  margin-bottom: 39px;
}

.lavt .speak {
  display: flex;
  position: relative;
  margin-bottom: 74px;
}

.lavt .speak div:first-child {
  position: relative;
  font-size: 60px;
  line-height: 108px;
  color: #77877F;
  min-width: 25px;
  margin-right: 42px;
  top: -25px;
}

.lavt .speak div {
  font-family: "Montserrat-SemiBold";
  font-size: 18px;
  line-height: 28px;
  color: #888794;
}

.lavt .photos {
  display: flex;
}

.lavt .photos .photos__card {
  border-top: 6px solid #515076;
  width: 153px;
  height: 172px;
  position: relative;
  overflow: hidden;
}

.lavt .photos .photos__card:first-child {
  background-image: url("/img/bee-naturalles-mWftCrzvGzE-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: -25px -4px;
  margin-right: 65px;
}

.lavt .photos .photos__card:nth-child(2) {
  background-image: url("/img/ampul.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -10px;
  margin-right: 65px;
}

.lavt .photos .photos__card:last-child {
  background-image: url("/img/tubik.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -55px;
}

.ravt {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 50%;
}

.ravt .presfam {
  position: relative;
  width: 603px;
  height: 671px;
  background-image: url("/img/bee-naturalles-mWftCrzvGzE-unsplash 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ravt .backoduv {
  position: absolute;
  width: 430px;
  height: 428px;
  background-image: url("/img/IlusOduv.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: -45%;
  top: 0%;
  z-index: -1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 875px;
  overflow: hidden;
  background-image: url("/img/vincent-guth-NUiQpGnj9rI-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.case {
  width: 1366px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card {
  width: 530px;
  height: 345px;
  background-color: #FFF;
  box-shadow: 0 -6px 0 0 #515076;
  padding-left: 78px;
  padding-top: 50px;
  box-sizing: border-box;
}

.card .zag {
  text-align: start;
  min-height: 75px;
  margin-bottom: 33px;
  width: 100%;
}

.card div {
  display: flex;
}

.card div div {
  width: 22px;
  height: 19px;
}

.card div div:nth-child(1) {
  background-image: url("/img/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 24px;
}

.card div div:nth-child(2) {
  background-image: url("/img/Vector (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pod {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  line-height: 32px;
  color: #828282;
  min-height: 85px;
  margin-bottom: 16px;
  width: 100%;
}

.blur2 {
  position: absolute;
  height: 367px;
  left: -20%;
  width: 200%;
  background-color: #FAFAFA;
  top: -25%;
  filter: blur(30px);
}