@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";

$cont_w:1366px;



body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: $cont_w;
    width:  100%;
    height: auto;
    background: #FFFFFF;
    margin: 0px 0px;
    align-self: center;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        min-width:375px;
    }
}
  
header {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: #EDECF7;
    overflow: hidden;
}
  
.betw {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $cont_w;
    .hs{
        display: flex;
        align-items: center;
        min-height: 100px;
        height: 100%;
    }

    @media screen and (max-width: 1365px) and (min-width: 375px){
        width:100%;
    }
}

  
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3px solid #6E6D87;
    border-radius: 100%;
    box-sizing: border-box;
    margin-right: 70px;
    min-width: 67px;
    min-height: 67px;
    &::before{
        content: '';
        background-image: url('/img/D.png');
        background-repeat:no-repeat;
        width: 34px;
        height: 39px;
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        display: none;
    }
}
  
.buttons {
    display: flex;
    align-items: center;
    
    width: 100%;
    height:100%;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        display: none;
        position: absolute;
        background-color: #EDECF7;
        width: auto;
        height: auto;
        top:100px;
        z-index: 1;
        &:hover{
            display: block;
        }
    }
}
  
.button {
    height: 70px;
    width: 127px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 25.36px;
    
    color:#515076;
    opacity: 50%;
    white-space: nowrap;
    &:hover {
        background-color: rgba(81, 80, 118, 0.1);
        opacity: 100%;
        border-radius: 3px;
        cursor: pointer;
    }

}

.betw_butter{
    width: 60px;
    height: 60px;
    background-image: url('/img/Frame_4.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 26px;
    display: none;
    cursor: pointer;
    
    &:hover+.buttons{
        display: block;
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        display: block;
    }
    
}

.shop{
    background-color: #FFF;
    background-image: url('/img/Group_76.png');
    background-repeat: no-repeat;
    background-position: 19px 15px;
    min-width: 60px;
    min-height: 60px;
    padding: 17px 20px;
    border-radius: 100%;
    box-sizing: border-box;
    margin-right:26px;
    cursor: pointer;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    height: 100px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        display: none;
    }
}

.ct{
    color:#515076;
    font-style: normal;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    cursor: pointer;
    min-width: 84px;
    height: 18px;
    &:nth-child(1){
        margin-bottom: 15px;
    }
}

.zag{
    font-family: 'Montserrat-ExtraLight';
    font-size: 70px;
    line-height: 76px;
    color: #757AA5;
    width: 100%;
    height: auto;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        font-size: 30px;
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:auto;
    overflow: hidden;

}

.diamaint{
    width:$cont_w;
    position: relative;
    margin-bottom: 490px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 359px;
    }
}

.cttext{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        flex-direction: column;
        align-items: center;
    }
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30%;
    div:first-child{
        margin-top: 34px;
        font-family: 'Montserrat-Regular';
        font-size: 36px;
        color:#757AA5;
        line-height: 132%;
        min-width: 387px;
        min-height: 192px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-top: 0px;
            text-align: center;
            min-width: auto;
        }
    }
    div:last-child{
        font-family: 'Montserrat-Regular';
        font-size: 18px;
        text-align: left;
        color:#888794;
        line-height: 30.6px;
        line-height: 170.4%;
        min-width: 386px;
        min-height: 298px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-top: 30px;
            font-size: 16px;
            text-align: center;
            min-width: auto;
        }
    }

    @media screen and (max-width: 1365px) and (min-width: 375px){
        width:100%;
    }
}

.eucalyptus{
    position:absolute;
    background-image: url("/img/equaliptus.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:976px;
    height: 648px;
    transform: scaleX(-1);
    opacity: 15%;
    left:-425px;
    top:600px;
    z-index: -1;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        height: 324px;
        width: 488px;
        top: 400px;
        left: -200px;
    }
}

.center{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:30%;
    .des:first-child{
        min-width: 391px;
        min-height: 114px;
        margin-bottom: 15px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            min-width: auto;
            text-align: center;
        }
    }
    .des:nth-child(2){
        min-width: 391px;
        min-height: 176px;
        margin-bottom: 1px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    .des:nth-child(3){
        min-width: 391px;
        min-height: 186px;
        margin-bottom: 54px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    .des:last-child{
        min-width: 391px;
        min-height: 163px;
        margin-bottom: 300px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    div:not(.selprodtxt){
        font-family: 'Montserrat-Regular';
        font-size: 18px;
        text-align: left;
        color:#888794;
        line-height: 30.6px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 16px;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width:100%;
        align-items: center;
    }
}

.selprod{
    display: flex;
    align-self: center;
    background: #515076;
    border-radius: 100px;
    width: 270px;
    margin-bottom: 96px;
    justify-content: center;
    cursor:pointer;
}

.selprodtxt{
    font-family: 'Montserrat-SemiBold';
    font-size: 13px;
    letter-spacing: 0.32em;
    line-height: 15px;
    color:#FFFFFF;
    margin:27px 9px;
    opacity:90%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width:30%;
    margin-top: 300px;
    div:first-child{
        font-family: 'WorkSans-Medium';
        font-size: 16px;
        letter-spacing: 0.3em;
        line-height: 28.8px;
        color:#888794;
        text-align: right;
        min-width: 172px;
        min-height: 127px;
        &::first-line{
            font-family: 'WorkSans-Light';
            font-size: 36px;
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
            min-width: 100%;
        }
    }
    div:last-child{
        font-family:'Montserrat-Light';
        font-size: 36px;
        line-height: 39px;
        color: #757AA5;
        margin-top: 95px;
        min-width: 350px;
        min-height: 119px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width:100%;
        margin-top: 0px;
        align-items: center;
    }
}

.dandelion{
    position: absolute;
    min-height: 1200px;
    width: 1000px;
    z-index: -1;
    top: -105px;
    left: 710px;
    background-image: url('/img/Dandelion SeedG02 1.png');
    background-repeat: no-repeat;
    background-position-x: -500px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width:700px;
        min-height:500px;
        background-size: cover;
        background-position-x: 0px;
        left:-150px;
        top:1500px
    }
}

.chern{
    position:absolute;
    transform: scaleX(-1);
    height:788px;
    width: 900px;
    z-index:-2;
    left:700px;
    top: 1300px;
    background-image: url('/img/e7fa0b6c3bcb95999e107784bcfa7906.png');
    background-repeat: no-repeat;
    background-position: -200px -300px;
    div:first-child{
        position:absolute;
        background-color: #FFFFFF;
        width:100%;
        height: 550px;
        filter: blur(100px);
        z-index: 1;
        left: 10%;
        top:-55%;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            height: 225px;
            top: -20%;
            filter: blur(50px);
        }
    }
    div:last-child{
        position:absolute;
        background-color: #FFFFFF;
        width:100%;
        height: 600px;
        filter: blur(100px);
        z-index: 1;
        left: -5%;
        top:50%;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            height: 300px;
            filter: blur(50px);
            left: 0%;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        height: 394px;
        width: 450px;
        background-size: cover;
        left: 0px;
        top: 2350px;
        background-position: 0px 0px;
    }
}

.name{
    font-family: 'PlayfairDisplay-Regular';
    font-size: 230px;
    line-height: 212px;
    text-align: left;
    color: #515076;
    margin:60px 0px;
    margin-top: 128px;
    min-width: 953px;
    min-height: 213px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        font-size: 85px;
        margin-top: 64px;
        min-width: auto;
        text-align: center;
    }
}

.choose{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:1100px;
    height:auto;
    
    .zag{
        margin-bottom: 80px;
        text-align: center;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-bottom: 40px;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
    }
}

    

.list{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:100%;
    height: auto;
    position:relative;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        flex-direction: column;  
        align-items: center; 
    }
}

.product{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 330px;
    background-color: #F7F7FA;
    &:nth-child(1){
        .imgbot{
            background-image: url("/img/jar3.png");
            background-repeat: no-repeat;
            background-size: 170%;
            background-position: -105px -100px;
            
        }
        .price{
            min-width: 254px;
            min-height: 56px;
            margin-bottom: 18px;
        }
    }
    &:nth-child(2){
        width:380px;
        margin: 0px 30px 0px;
        .imgbot{
            background-image: url("/img/jar1.png");
            background-repeat: no-repeat;
            background-size: 220%;
            background-position: -100px -170px;
            width: 340px;
            height: 325px;
            margin: 69px 20px 0px;
            @media screen and (max-width: 1365px) and (min-width: 375px){
                margin: 69px 20px 0px;
                width:290px;
                height: 244px;
                background-position: -70px -170px;
            }
        }
        .price{
            min-width: 293px;
            min-height: 64px;
            margin-bottom: 13px;
            div{
                font-size: 24px;
                line-height: 32px;
            }
            @media screen and (max-width: 1365px) and (min-width: 375px){
                min-width: 254px;
            }
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            width: 330px;
            margin: 30px 0px;
        }
    }
    &:nth-child(3){
        .imgbot{
            background-image: url("/img/jar4.png");
            background-repeat: no-repeat;
            background-size: 170%;
            background-position: -170px -90px;
        }
        .price{
            min-width: 254px;
            min-height: 56px;
            margin-bottom: 18px;
        }
    }
}

del{
    font-size: 18px;
    color: #888794;
    line-height: 24px;
}

.imgbot{
    position: relative;
    width: 289px;
    height: 244px;
    margin: 62px 20px 0px;

}

.transcription{
    margin:0px 38px;
}

.normal{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    color:#A5A3B9;
    margin-bottom: 4px;
    min-width: 254px;
    min-height: 28px;
}

.afternorm{
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    margin-bottom: 35px;
    min-width: 203px;
    min-height: 56px;
    color: #515076;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Montserrat-Medium';
    color:#515076;
    font-size: 20px;
    line-height: 27px;
}

.basket{
    background-image: url("/img/add-to-cart 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:28px;
    height:28px;
    cursor: pointer;
}

.dsc{
    position: absolute;
    width: 66px;
    height: 66px;
    background-image: url("/img/скидка.png");
    background-repeat: no-repeat;
    background-size: cover;
    top:20px;
    left:20px;
}

.fon{
    position:absolute;
    z-index: -1;
    width: 847px;
    height: 669px;
    top: -260px;
    left: -390px;
    background-image: url("/img/Mask Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 423px;
        height: 334px;
        left: -200px;
        top: -130px;
    }
}

.stoks{
    display: flex;
    justify-content: space-between;
    width: $cont_w;
    height: auto;
    margin-top: 180px;
    margin-bottom: 270px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.ls{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width:333px;
    height:auto;
    div{
        text-align: start;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        margin-bottom: 30px;
        align-items: center;
        width: 100%;
    }
}

.text{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    color: #888794;
    line-height: 36px;
    margin-top: 100px;
    min-height: 198px;
    min-width: 333px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        min-width: 100%;
    }
}

.rs{
    display: flex;
    justify-content: space-between;
    width: 810px;
    height: auto;
    background-color: #F7F7FA;
    box-shadow: -40px 40px 0px 0px #515076;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 300px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: -20px 20px 0px 0px #515076;
    }
}

.number{
    display: flex;
    background-color: #EDECF6;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    line-height: 19px;
    color: #515076;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 31px;
        height: 31px;
        font-size: 10px;
    }
}

.page{
    margin: 58px 0px 72px 62px;
    width:433px;
    height: auto;
    div:nth-child(2){
        font-family: 'Montserrat-Light';
        font-size: 30px;
        color: #4C5072;
        line-height: 39px;
        margin-top: 28px;
        min-width: 337px;
        min-height: 156px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 20px;
            line-height: 25px;
            min-height: 100px;
            min-width: 270px;
        }
    }
    div:nth-child(3){
        font-family: 'Montserrat-Medium';
        font-size: 16px;
        color: #888794;
        line-height: 32px;
        margin-top: 34px;
        min-width: 433px;
        min-height: 111px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 10px;
            line-height: 25px;
            margin-top: 20px;
            min-width: 270px;
        }
    }
    div:last-child{
        position: absolute;
        font-family: 'Montserrat-Medium';
        font-size: 13px;
        transform: rotate(-90deg);
        letter-spacing: 0.17em;
        line-height: 26px;
        text-align: right;
        left:-45%;
        top: 85%;
        color:#FFFFFF;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 7px;
            left: -100px;
            top: 470px;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        margin: 29px 0px 0px 31px;
        width: 270px;
    }
}

.presprod{
    position: relative;
    width:285px;
    height: 519px;
    overflow: hidden;
    background-image: url("/img/jar1.png");
    background-repeat: no-repeat;
    background-size: 340%;
    background-position: -230px -160px;
    
    div{
        position:absolute;
        width:50px;
        height:50px;
        background-color: #F7F7FA;
        filter: blur(7px);
        left:90%;
        top:70%;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            top:60%;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 142px;
        height: 259px;
        background-position: -100px -100px;
    }
}
.page{
    position:relative;
}
.sidetext{
    position: absolute;
    font-family: 'Montserrat-Medium';
    font-size: 13px;
    transform: rotate(-90deg);
    left:-33%;
    top: 90%;
    color:#FFFFFF;
    min-width: 234px;
    min-height: 26px;
}

.arrow{
    width: 73px;
    height: 73px;
    background-image: url("/img/стрелка.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &:first-child{
        transform: scaleX(-1);
        opacity:40%;
        margin-right: 19px;
    }
}

.libut{
    display: flex;
    margin-top: 49px;
}

.discount{
    position:relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:1120px;
    height:auto;
    margin-bottom: 352px;
    .branch{
        width: 876px;
        height: 1278px;
        background-image: url("/img/ветка.png");
        background-repeat: no-repeat;
        background-size: 120%;
        position: absolute;
        top:-74%;
        left:-35%;
        z-index: -1;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            width:438px;
            height: 639px;
            top:-15%
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 359px;
        flex-direction: column;
        align-items: center;
    }
}

.mapsell{
    width: 350px;
    background-color: #F7F7FA;
    .trcript{
        margin: 10px 40px 35px;
        .trcript__text{
            margin-bottom: 11px;
            min-height: 100px;
            font-family: 'Montserrat-Regular';
            font-size: 18px;
            line-height: 24px;
            color: #515076;
        }
    }
    &:nth-child(1){
        .procent{
            height: 100px;
            margin-bottom: 7px;
            background-color: rgba(81, 80, 118, 0.1);
            div{
                font-family: "Montserrat-Regular";
            }
        }
        .mapsell__img{
            background-image: url("/img/1.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &:nth-child(2){
        margin: 0px 35px;
        .procent{
            height: 150px;
            margin-bottom: 57px;
            background-color: rgba(81, 80, 118, 0.15);
            div{
                font-family: "Montserrat-Medium";
            }
        }
        .mapsell__img{
            background-image: url("/img/2.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin: 35px 0px;
        }
    }
    &:nth-child(3){
        .procent{
            height: 200px;
            margin-bottom: 107px;
            background-color: rgba(81, 80, 118, 0.2);
            div{
                font-family: "Montserrat-SemiBold";
            }
        }
        .mapsell__img{
            background-image: url("/img/3.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.procent{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    div{
        font-size: 36px;
        color: #515076;
    }
}
.mapsell__img{
    width:350px;
    height:305px;
}

.present{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
    position: relative; 
    width: 100%;
    height: 1023px;
    background-color: #EDECF6;
    z-index: 0;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        height: 1123px;
    }
}

.grayoduv{
    position: absolute;
    background-image: url("/img/GrayOduv.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 638px;
    height: 1196px;
    left:1040px;
    top:80px;
    z-index: -1;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 319px;
        height: 598px;
        left: 210px;
        top: 700px
    }
}

.womansix{
    width: $cont_w;
    height: auto;
    position: relative;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 359px;
        
    }
}

.grayname{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: "Playfair-Display";
    font-size: 330px;
    color: #D6D4E7;
    min-height: 328px;
    margin-bottom: 88px;
    margin-top: -221px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        font-size: 95px;
        margin-top: -70px;
        width: 100%;
        min-height: 100px;
        margin-bottom: 0px;
    }
}

.woman{
    position: absolute;
    width:1066px;
    height: 821px;
    background-image: url("/img/woman.png");
    background-repeat: no-repeat;
    background-size: 110%;
    left:-120px;
    top: -100px;
    z-index: -1;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        position: relative;
        width: 533px;
        height: 410px;
        top: -0px;
        left: -40px;
    }
}

.inf{
    display: flex;
    justify-content: flex-end;
    position: relative;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.about{
    width:462px;
    height:auto;
    div:nth-child(1){
        min-height: 74px;
        font-family: 'Montserrat-Medium';
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.3em;
        color: #A5A3B9;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 14px;
            width: auto;
            text-align: center;
        }
    }
    div:nth-child(2){
        min-height: 208px;
        margin-bottom: 61px;
        font-family: 'Montserrat-ExtraLight';
        font-size: 70px;
        line-height: 76px;
        color:#515076;
        &::first-line{
            font-family: 'Montserrat-Light';
            font-size: 120px;
            line-height: 131px;
            @media screen and (max-width: 1365px) and (min-width: 375px){
                font-size: 110px;
            }
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            font-size: 51px;
            width: auto;
            text-align: center;
        }
    }
    div:nth-child(3){
        min-width: 462px;
        min-height: 223px;
        font-family: 'Montserrat-Medium';
        font-size: 16px;
        line-height: 32px;
        color: #888794;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            min-width: auto;
            max-width: 359px;
            font-size: 16px;
            text-align: center;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.know{
    width: 960px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 0px 144px;
    .zag{
        margin-bottom:86px;
        text-align: center;
        min-height: 77px;
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
    }
}

.place{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        flex-direction: column;
    }
}

.advice{
    box-shadow: 0px -6px 0px 0px #515076;
    background-color: #F7F7FA;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advice__text{
    margin-top: 36px;
    margin-left: 48px;
    div:nth-child(1){
        min-height: 28px;
        font-family: 'Montserrat-Medium';
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.23em;
        color:#A5A3B9;
        margin-bottom: 4px;
    }
    div:nth-child(2){
        min-height: 56px;
        font-family: 'Montserrat-Regular';
        font-size: 20px;
        line-height: 27px;
        color: #515076;
        margin-bottom: 29px;
    }
    div:nth-child(3){
        min-height: 101px;
        font-family: 'Montserrat-Regular';
        font-size: 14px;
        line-height: 25px;
        color: #888794;
    }
}

.centralcards{
    width:300px;
    height: auto;
    &:nth-child(1){
        margin-right: 30px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-right: 0px;
            margin-bottom: 30px;
        }
    }
    &:nth-child(2){
        .advice:first-child{
            margin-bottom: 30px;
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-bottom: 30px;
        }
    }
    &:nth-child(3){
        position: relative;
        top:-100px;
        margin-left: 30px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            top: 0px;
            margin-left: 0px;
        }
    }
}

.read{
    font-family: 'Montserrat-Medium';
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    color: #515076;
    margin-bottom: 35px;
    margin-left:48px;
    cursor: pointer;
}

.autors{
    display: flex;
    width: $cont_w;
    margin-bottom: 22px;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.lavt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
    margin-right: 121px;
    .zag{
        min-height: 154px;
        margin-bottom: 55px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
            margin-bottom: 0px;
        }
    }
    
    .avtor{
        font-family: 'Montserrat-Medium';
        font-size: 20px;
        line-height: 40px;
        min-height: 40px;
        margin-bottom: 14px;
        color:#515076;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
        }
    }
    .ideolog{
        font-family: 'Montserrat-Medium';
        font-size: 16px;
        line-height: 28px;
        color: #888794;
        min-height: 87px;
        margin-bottom: 39px;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            text-align: center;
            width: 359px;
        }
    }

    .speak{
        display: flex;
        position: relative;
        margin-bottom: 74px;
        div:first-child{
            position: relative;
            font-size: 60px;
            line-height: 108px;
            color: #77877F;
            min-width: 25px;
            margin-right: 42px;
            top: -25px;
        }
        div{
            font-family:'Montserrat-SemiBold';
            font-size: 18px;
            line-height: 28px;
            color:#888794;
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            width: 359px;
        }
    }
    .photos{
        display: flex;
        .photos__card{
            border-top: 6px solid #515076;
            width: 153px;
            height: 172px;
            position: relative;
            overflow: hidden;
            &:first-child{
                background-image: url("/img/bee-naturalles-mWftCrzvGzE-unsplash 1.jpg");
                background-repeat: no-repeat;
                background-size: 115%;
                background-position: -25px -4px;
                margin-right: 65px;
                @media screen and (max-width: 1365px) and (min-width: 375px){
                    margin-right: 0px;
                }
            }
            &:nth-child(2){
                background-image: url("/img/ampul.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -10px;
                margin-right: 65px;
                @media screen and (max-width: 1365px) and (min-width: 375px){
                    margin-right: 0px;
                    margin-top: 32px;
                }
            }
            &:last-child{
                background-image: url("/img/tubik.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position-y: -55px;
                @media screen and (max-width: 1365px) and (min-width: 375px){
                    margin-top: 32px;
                }
            }
        }
        @media screen and (max-width: 1365px) and (min-width: 375px){
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        margin-right: 0px;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
    }
}


.ravt{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 50%;
    .presfam{
        position: relative;
        width: 603px;
        height:671px;
        background-image: url("/img/bee-naturalles-mWftCrzvGzE-unsplash 1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            width: 300px;
            height: 335px;
        }
    }
    .backoduv{
        position: absolute;
        width: 430px;
        height: 428px;
        background-image: url("/img/IlusOduv.png");
        background-repeat: no-repeat;
        background-size: cover;
        left:-45%;
        top:0%;
        z-index: -1;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            width: 215px;
            height: 214px;
            top: -50px;
            left: -20%;
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 100%;
        justify-content: center;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 875px;
    overflow: hidden;
    background-image: url('/img/vincent-guth-NUiQpGnj9rI-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        height: 575px;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
    }
}

.case{
    width: $cont_w;
    height: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 359px;
    }
}

.card{
    width:530px;
    height:345px;
    background-color: #FFF;
    box-shadow: 0 -6px 0 0 #515076;
    padding-left: 78px;
    padding-top: 50px;
    box-sizing: border-box;
    .zag{
        text-align: start;
        min-height: 75px;
        margin-bottom: 33px;
        width: 100%;
        @media screen and (max-width: 1365px) and (min-width: 375px){
            margin-bottom: 0px;
        }
    }
    div{
        display: flex;
        div{
            width: 22px;
            height: 19px;
            &:nth-child(1){
                background-image: url("/img/Vector.png");
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 24px;
            }
            &:nth-child(2){
                background-image: url("/img/Vector (1).png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    @media screen and (max-width: 1365px) and (min-width: 375px){
        width: 375px;
        height: 300px;
        padding-top: 25px;
    }
}

.pod{
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 32px;
    color: #828282;
    min-height: 85px;
    margin-bottom: 16px;
    width: 100%;
    @media screen and (max-width: 1365px) and (min-width: 375px){
        font-size: 14px;
        margin-bottom: 16px;
        line-height: 24px;
    }
}

.blur2{
    position: absolute;
    height: 367px;
    left: -20%;
    width:200%;
    background-color: #FAFAFA;
    top:-25%;
    filter:blur(30px);
    @media screen and (max-width: 1365px) and (min-width: 375px){
        top: -300px;
    }
}

